<%= form_with model: @volunteer, local: true do |form| %>
<!-- Print any form errors to user -->
  <% if @volunteer.errors.any? %>
    <div id= "error explanation ">
    <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <div>
  <p id="heading"><%= form.label "Let's start with your name" %></p>
  <%= form.text_field :name, id: "form" %>
  </div>

  <div>
  <p id="heading"><%= form.label "Upload your best profile photo" %></p>
  <%= form.file_field :photo %>
  </div>

  <div>
  <p id="heading"><%= form.label "How old are you? In years." %></p>
  <p id="subtitle">Must be 15 years or older to volunteer through Rippl</p>
  <%= form.number_field :age, id: "age" %>
  </div>

  <div>
  <p id="heading"><%= form.label "What is your preferred gender?" %></p>
  <%= form.select :gender, options_for_select( Volunteer.genders.keys, :selected => @volunteer.gender ) %>
  </div>

  <div>
  <p id="heading"><%= form.label :skill_ids %></p>
  <p id="subtitle">We try and match you up with opportunities based on your skills</p>
      <% for skill in Skill.all %>
      <ul>
      <li><%= image_tag "seed/#{skill.symbol}.svg", class: "icon" %>
      <%= skill.name %>
      <%= check_box_tag "volunteer[skill_ids][]", skill.id %></li>
      </ul>
    <% end %>
   
  </div>


  <div>
  <p id="heading"><%= form.label "Upload your resume" %></p>
  <%= form.file_field :resume %>
  </div>
  <div>
  <p id="heading">Thanks for that!</p>
  <p id="subtitle">Now you have made your profile, you can start applying for opportunities with a click of a button!</p>
  </div>

  <%= form.submit %>


<% end %>




  