<h1>Hi Volunteer!</h1>
<%= @volunteer.name %><br>
<%= @volunteer.age %>
<div>
<%= link_to('See available waves', listings_path) %>
</div>

<div>
<h2> Waves applied for </h2>
<% @volunteer.listing_volunteers.each do |lv| %>
  <%= lv.listing.title %>
  <%= lv.listing.agency.name %>
  <%= lv.listing.description %>
  <%= lv.listing_outcome.result%>
  <% end %>
</div>

<%= link_to("Delete account", destroy_volunteer_path(@volunteer), method: :delete, data: {confirm: "Are you sure you want to delete your account?"}) %>
