<h1>Hey, <%=@agency.name %></h1>
  <% if @agency.address == nil %>
    <%= link_to "Add an address", "#{edit_agency_path}#address-form" %>
  <% end %>

<div>
<%= form_with model: @agency, url: update_agency_path, local: true do | form | %>

<% if @agency.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @agency.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div><br>

<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div><br>
 <div id="address-form">
<!-- Start of address form -->
      <%= form.label :address_id %>
      <%= form.fields_for :address, Address.new do |ff| %>
      <div>
        <%= ff.label :number %>
        <%= ff.number_field :number %>
        </div><br>
        <div>
        <%= ff.label :street %>
        <%= ff.text_field :street %>
        </div><br>
        <div>
        <%= ff.label :city %>
        <%= ff.text_field :city %>
        </div><br>
         <div>
        <%= ff.label :state %>
        <%= ff.select :state,
        options_for_select(%w[ACT NSW NT QLD SA TAS VIC WA]) %>
        </div><br>
         <div>
        <%= ff.label :postcode %>
        <%= ff.number_field :postcode %>
        </div><br>
        <% end %>

    </div>

  
  <div>
    <%= form.submit %>
  </div>

  <% end %>


