<h1>Let's Set up an Agency.</h1>
<div>
<%= form_with model: @agency, local: true do | form | %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div><br>

<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div><br>
 <div>
<!-- Start of address form -->
      <%= form.label :address_id %>
      <%= form.fields_for :address, Address.new do |ff| %>
      <div>
        <%= ff.label :number %>
        <%= ff.number_field :number %>
        </div><br>
        <div>
        <%= ff.label :street %>
        <%= ff.text_field :street %>
        </div><br>
        <div>
        <%= ff.label :city %>
        <%= ff.text_field :city %>
        </div><br>
         <div>
        <%= ff.label :state %>
        <%= ff.text_field :state %>
        </div><br>
         <div>
        <%= ff.label :postcode %>
        <%= ff.number_field :postcode %>
        </div><br>
        <% end %>

    </div>

  
  <div>
    <%= form.submit %>
  </div>

  <% end %>