<div class="agency-dashboard">
<div class="dashboard-nav">
  <h1>RIPPL</h1>
  <ul>
  <li><%=link_to("Home", :root )%></li>
  <li>All waves</li>
  <li><%=link_to("Account settings", edit_agency_path )%>
  <li><%=link_to("Logout", destroy_user_session_path, method: :delete)%>
  </ul>
</div>

<div class="dashboard-main">
  <h1>Welcome, <%= @agency.name %>!</h1><br>
  <div id="create-card">
    <button><%= link_to("Create A Wave", new_listing_path)%></button>
  </div>
  <div id="find-volunteer-card">
    <button>Find a volunteer</button>
  </div>
  <p><%=link_to 'Edit Account', edit_agency_path %></p>
</div>

<div class="dashboard-listings">
  <h2>Your Waves</h2>
  <% @agency.listings.each do |listing|%>
  <%= listing.title %><br>
  <% end %>
</div>






