<div class="agency-dashboard">

<div class="hero-banner" id="agency">
  <header>
  <h1>Welcome, <%= @agency.name %>!</h1><br>
  </header>
</div>

  
    <h2> Current waves you have made. </h2><br>
    <div class="listings" id="agency">
    <% @agency.listings.each do |listing|%>
    <div class="agency-listing">
      <%= listing.title %><br>
      <%= listing.created_at %>
      <p>Volunteers applied: </p>
      <% if listing.volunteers.count > 0 %>
        <%= listing.volunteers.count %>
        <% listing.volunteers.each do |volunteer| %>
          <%= volunteer.outcome %>
      <% end %>
      <% end %>
  <% end %>
    </div>
    <div class="agency-listing">
      <%= link_to("Create A Wave", new_listing_path)%>
    </div>
  
  <p><%=link_to('Edit Account', edit_agency_path(@agency)) %></p>
</div>







