<div class="main">

  <div class= "head-block">
    <h1> Active Waves</h1>
  </div>

  <div class ="listings">
  <% @listings.each do |listing| %>
    <div class ="listing-card">
      <div class="listing-card-left">
        <p id="title"><%= listing.title %></p>
        <p id="subtitle"><%= listing.agency.name %></p>
        <p id="subtitle"><%= listing.time_frame %></p>
        <p id="subtitle"><i class="fas fa-users"> <%= listing.no_of_volunteers %></i></p>
      </div>
      <div class="listing-skills">
        <% listing.skills.each do |skill| %>
        <p><%= image_tag "seed/#{skill.symbol}.svg", class: "icon" %></p>
        <% end%>
      </div>
      <div class="main-button">
        <%= link_to("View Wave", listing_path(listing)) %>
      </div>
    </div>
    <% end %>
  </div>
</div>