
<div class="show-listing">
  <div class="actions">
      <p id="tweet">Tweet this wave</p>
      <%= social_share_button_tag(@listing.title)%>
    <% if policy(@listing).apply? %>
      <% if @listing.volunteers.where(id: current_user.volunteers.first.id).count > 0 %>
      <p> You have already applied for this!</p>
      <% else %>
      <div class ="button">
      <%= link_to "Apply", apply_listing_path %>
      </div>
      <% end %>
    <% end %>
    <% if current_user.is_agency? == true %>
      <% if policy(@listing).edit? %>
      <p>Hello world</p>
        <div class= "button">
        <%=link_to "Edit Wave", edit_listing_path %>
        <%=link_to "Remove Wave", listing_path(@listing), method: :delete, data:  {confirm: "Are you sure you want to delete this wave?"}%>
        </div>
     <% end %>
    <% end %>
  </div>
  <%= link_to "Back", :back %>
  <div class="listing-information">
    <h1><%= @listing.title %></h1>
      <p id="heading">What we are after:</p>
      <p><%= @listing.description %></p>
      <p id="heading">Minimum commitment:</p>
      <p><%= @listing.time_frame %></p>
      <p id="heading">Volunteer is required:</p>
      <p><%= @listing.time_required %></p>
      <p id="heading">Skills to have:<p>
      <p id="subtitle">Although not essential</p>
        <% @listing.skills.each do |skill| %>
        <%= image_tag "seed/#{skill.symbol}.svg", class: "icon" %>
        <%= skill.name %>
        <p id="subtitle"><%= skill.description %></p>
        <% end %>
      <p id="heading"> Number of volunteers needed:</p>
      <p><%= @listing.no_of_volunteers %></p>
      <p id="subtitle">(Know of any good candidates?)</p>
      
      <p id="heading">Location of wave:</p>
      <p><%= @location %></p>
      <p id="subtitle">This wave was created by</p>
      <div class="agency-name">
        <%=@listing.agency.name %>
      </div>
  </div>
  
</div>
