<div class="main">
  <div class="hero-banner">
    <header>
    <h1>Welcome to RIPPL,</h1>
    <h4>where one volunteer can create a ripple effect.</h4>
    </header>
    <div class="search-bar">
    </div>
  </div>

   
  <div class="listings">
     <h2> Waves to catch</h2>
    <% @listings.each do |listing| %>

    <div class="listing-card">
      <div class="listing-card-left">
        <p id="title"><%= listing.title %></p>
        <p id="subtitle"><%= listing.agency.name %></p>
        <p id="subtitle"><%= listing.time_frame %></p>
       <p id="subtitle"><i class="fas fa-users"> <%= listing.no_of_volunteers %></i></p>
      </div>
      
      <div class="main-button">
        
       <%= link_to("View this wave", listing_path(listing))%>
     </div>
    </div>
    <% end %>
    <%= link_to("See all waves", listings_path) %>
  </div>

  <div class="main-cards">
    <div class="main-card">
      <p>Looking for volunteers?</p>

      <div class="sign-up-button">
        <%=link_to('Sign Up As An Agency', sign_up_agency_path)%>
      </div>
    </div>

    <div class="main-card">
      <p>Wanting to volunteer?</p>
      <div class="sign-up-button">
        <%=link_to('Sign Up As A Volunteer', sign_up_volunteer_path)%>
        </div>
    </div>
</div>





