  <nav>
  <h1>RIPPL</h1>
  
  <div class="login">
  <%=link_to("Agency login", sign_up_agency_path)%>
  <% if user_signed_in? %>
    <% if current_user.is_agency? == true %>
    <p>Hi <%=@agency.name%></p>
    <%=link_to('Dashboard', show_agency_path(@agency))%>
    <% else %>
    <p>Hi <%=@volunteer.name%><p>
    <% end %>
  <%=link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
  <%=link_to('Login', new_user_session_path, )%>
  <%=link_to('Sign up', sign_up_volunteer_path)%>
  <% end %>
  </div>
  </nav>